<!DOCTYPE html>
<html lang="en" ng-app="animalShelter">
  <head>
    <meta charset="UTF-8">
    <title>Animal Shelter</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/ShelterPetsController.js"></script>
    <script src="controllers/AdoptionsController.js"></script>
    <script src="services/PetsFactory.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div ng-controller="ShelterPetsCtrl">
          <div class="row" ng-show="pets.length">
            <div class="col-md-12">
              <h4>Search for a Pet! =)</h4>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input ng-model="query" type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </div>
            
            <div class="col-md-12">
              <h2 ng-show="pets.length && filtered.length">These pets need homes!</h2>
              <h2 ng-show="pets.length && !filtered.length">There are no pets of that description or name here right now.</h2>
              <ul>
                <li ng-repeat="item in filtered = (pets | filter:query)">
                  <div class="well">
        <!-- <div ng-controller="AdoptionsCtrl"> -->
                    <h3> {{item.name}} </h3> <a ng-click="addAdoptedPet(item)">Adopt!</a>
                    <h4> {{item.species}} </h4>
                    <p>Breed or Type: {{item.type}}
                      <p>Description: {{item.description}} </p>
                  </div>
                </li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class = 'col-md-12'>
            <h2>Abandon Your Pet =(</h2>
              <form ng-submit="PetsFactory.abandonPet()" class="form-inline" role="form">
                <input type="text" ng-model="PetsFactory.petName" class="form-control" id="pet-name" placeholder="Enter Pet's Name" required>
                <select ng-model="PetsFactory.petSpecies" class="form-control" id="pet-species" ng-selected="Dog" required>
                  <option value="Dog" >Dog</option>
                  <option value="Cat">Cat</option>
                  <option value="Bird">Bird</option>
                  <option value="Reptile">Reptile</option>
                  <option value="Fish">Fish</option>
                  <option value="Rodent">Rodent</option>
                </select>
                <input type="text" ng-model="PetsFactory.petType" class="form-control" id="pet-type" placeholder="What breed or type is the pet?" required>
          </div>
          <div class="col-md-12">
            <textarea ng-model="PetsFactory.petDescription" class="form-control" id="pet-description" placeholder="Enter a description of the pet." required></textarea>
            <button type="submit" class="btn btn-danger" id="abandonbtn">Submit</button>
              </form>
          </div>
        <h2 ng-show="adoptedPets.length">These pets have happy homes!</h2>
        </div>
      </div>
    </div>
  </body>
</html>
